.color-change__galery {
  animation: color-change 5s linear infinite;
}

@keyframes color-change {
  0%{
    border: 5px solid #fff; 
  }
  33%{
    border: 5px solid #eeeab3; 
  }
  66%{
    border: 5px solid #96f8fc; 
  }
  100%{
    border: 5px solid #fff; 
  }
}