.cost__paragraph {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  font-size: 32px;
  font-weight: bold;
  max-width: 90%;
}

.cost__paragraph:nth-of-type(1) {
  margin-top: 50px;
}

.cost__paragraph:nth-of-type(2) {
  font-size: 36px;
  margin-top: 40px;
  text-decoration: underline;
  text-decoration-color: #f6c667;
}