.header {
  /* to do class header_page_newyear */
  background-image: url('../images/header-bg-alt-2.jpg');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 600px;
  max-height: 756px;
  height: 100vh;
  overflow: hidden;
}