.header {
  background-image: url('../images/header-bg-alt-2.jpg');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
  /* background: #42745c; */
  min-height: 600px;
  max-height: 756px;
  height: 100vh;
  overflow: hidden;
}