.link_page_newyear {
  text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}

.link_page_newyear:nth-of-type(1) {
  text-decoration: none;
  color: #fff;
}

.link_page_newyear:nth-of-type(2) {
  text-decoration: underline;
  color: #eeeab3;
}

.link_page_newyear:hover {
  color: #eeeab3;
  text-decoration: underline;
  text-decoration-color: #eeeab3;
}