.link {
  color: #fff;
  text-decoration: none;
  font-size: 32px;
  padding: 0;
  margin: 0;
  transition: all 0.4s ease-in 0.2s;
}

.link:nth-of-type(1) {
  text-decoration: underline;
  color: #ff0;
}

.link:hover {
  color: #ff0;
  text-decoration: underline;
  text-decoration-color: #eeeab3;
}