.start__paragraph {
  margin: 40px 0 0 64px;
  font-size: 28px;
  font-weight: normal;
  max-width: 450px;
}
.start__paragraph:nth-of-type(2n) {
  text-decoration: underline;
  text-decoration-color: #f6c667;
}