.whatsapp-link {
  background-color: #25d366;
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  width: 350px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 0 0 54px;
  border-radius: 10px;
}

.whatsapp-link:hover {
  border: 3px solid #075e54;
  box-sizing: border-box;
}

.whatsapp-link:active {
  border: 3px solid #0d8375;
  background-color: #41ec80;
  color: #ffffff86;
}